{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">

    <style>
        body {
            background: url('{% static "recognition/img/bg_image.png"%}') no-repeat center center fixed;
            background-size: cover;
        }
        /* Additional styles omitted for brevity */
    </style>
</head>

<body>
    <div class="col-lg-12" style="background: rgba(0,0,0,0.6);margin-top:3em;margin-bottom:5em;padding-top:1em;padding-bottom:3em;color:#fff;border-radius:10px;-webkit-box-shadow: 2px 2px 15px 0px rgba(0, 3, 0, 0.7); -moz-box-shadow: 2px 2px 15px 0px rgba(0, 3, 0, 0.7); box-shadow: 2px 2px 15px 0px rgba(0, 3, 0, 0.7);">
        <div class="col-sm-12">
            <h1 class="text-center section-title" style="margin-bottom:2em">Attendance System Using Face Recognition</h1>
        </div>
        
        <div class="col-lg-12" style="padding-top: 100px;">
            {% if messages %} {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %} {% endif %}
        </div>

        <div class="row">
            <div class="col-md-4" style="padding-left: 220px">
                <a href='{% url "mark-your-attendance" %}'><img src="{% static 'recognition/img/enter.png' %}" class="img-responsive" style="width:300px;height:300px;" /></a>
            </div>
            <div class="col-md-4" style="padding-left: 220px">
                <a href='{% url "mark-your-attendance-out" %}'><img src="{% static 'recognition/img/exit.png' %}" class="img-responsive" style="width:300px;height:300px;" /></a>
            </div>
            <div class="col-md-4" style="padding-left: 220px">
                <a href='{% url "login" %}'><img src="{% static 'recognition/img/login.png' %}" class="img-responsive" style="width:300px;height:300px;" /></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3" style="padding-left: 70px">
                <h4 class="text-center">Mark Your Attendance - In</h4>
            </div>
            <div class="col-md-3" style="padding-left: 70px">
                <h4 class="text-center">Mark Your Attendance - Out</h4>
            </div>
            <div class="col-md-3" style="padding-left: 70px">
                <h4 class="text-center">Log In</h4>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>
