<!DOCTYPE html>
<html>
<head>
    <title>Mark Your Attendance</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <h1 class="text-center">Please Look at the Camera</h1>
    <div class="container text-center">
        <img src="{% url 'video_feed' %}" width="800" alt="Camera feed"/>
    </div>

    <script>
        // Any additional client-side JavaScript for processing can go here
    </script>
</body>
</html>
